<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342389399154-ltio54cf8vm8a8i9cjvkq4uj4fov8bef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342389399154-ltio54cf8vm8a8i9cjvkq4uj4fov8bef</string>
	<key>API_KEY</key>
	<string>AIzaSyDmTefLotY1yE0J233gZ1dDbSyV1QduFCw</string>
	<key>GCM_SENDER_ID</key>
	<string>342389399154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookly.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bookly-c4ce0</string>
	<key>STORAGE_BUCKET</key>
	<string>bookly-c4ce0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342389399154:ios:e44e7757b642d7856d6ceb</string>
</dict>
</plist>